*{
    margin: 0;
    padding: 0;
}

body{
    background: #d5e1ef;
    font-family: Arial, Helvetica, sans-serif;
}


.content {
    width: 250px;
    height: 380px;
    margin: 100px auto;
    background: white;
    text-align: center;
    border-radius: 15px;

}

img{
    padding: 5px;
    width: 230px;
    margin-top: 5px;
    border-radius: 15px;
}

.content-text{
    width: 230px;
    display: block;
    margin: 0px auto;
    padding: 10px;
}

.content-text h1{
    font-size: 17px;
    color: #222c48;
    
}
.content-text p{
    font-size: 12px;
    padding: 8px;
    color: #868993;
}